<!-- <main>
  <div class="m-1">
  <h3>Вселенная персонажей мультсериала Рик и Морти!</h3>
  <button
    class="btn btn-success"
    [routerLink]="['/persons']"
    routerLinkActive="router-link-active"
  >
    Персонажи тут!
  </button>
</div>
</main> -->

<div class="container">
  <div class="card m-3 p-3 center">
    <h3>Вселенная персонажей мультсериала Рик и Морти!</h3>
    <button
      class="btn btn-success m-3 p-2"
      [routerLink]="['/persons']"
      routerLinkActive="router-link-active"
    >
      Персонажи тут!
    </button>
  </div>
</div>
